rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Tillat alle å lese filer (for offentlig visning)
    // men krev autentisering for å laste opp, endre eller slette.
    match /{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
